In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('postgresql://skripsiuser:skripsipassword@localhost:5432/skripsi')
import gc

In [ ]:
koleksi=pd.read_csv('.\\csv_awal\\koleksi.csv',delimiter=',')
koleksi.to_sql('koleksi',engine,if_exists='replace')

In [ ]:
jnstbt=pd.read_csv('.\\csv_awal\\jnstbt.csv',delimiter=',')
jnstbt.to_sql('jnstbt',engine,if_exists='replace')

In [ ]:
lokasi=pd.read_csv('.\\csv_awal\\lokasi.csv',delimiter=',')
lokasi.to_sql('lokasi',engine,if_exists='replace')

In [ ]:
status_usul=pd.read_csv(".\\csv_awal\\status_usul.csv",delimiter='|')
status_usul.to_sql('status_usul',engine,if_exists='replace')

In [5]:
#gabungan
transaksi=pd.read_csv(".\\csv_awal\\transaksi.csv",delimiter='|')
tambahan_transaksi=pd.read_csv(".\\csv_awal\\tambahan_transaksi.csv",delimiter='|')#denda
transaksi=pd.merge(transaksi,tambahan_transaksi,left_on="fntranscid",right_on="Trans ID",how="left")
transaksi.drop('Trans ID',axis=1,inplace=True)
transaksi.to_sql('transaksi',engine,if_exists='replace')

judul=pd.read_csv(".\\csv_awal\\judul.csv",delimiter='|',encoding='utf-8')
judul.to_sql('judul',engine,if_exists='replace')

buku=pd.read_csv(".\\csv_awal\\buku.csv",delimiter='|')
tambahan_buku=pd.read_csv(".\\csv_awal\\tambahan_buku.csv",delimiter='|') # kondisi,tgl_bayar
buku=pd.merge(buku,tambahan_buku,on="k999a",how="left")
buku.to_sql('buku',engine,if_exists='replace')

usul=pd.read_csv(".\\csv_awal\\usul.csv",delimiter='|')
usul.to_sql('usul',engine,if_exists='replace')

C:\Users\Aaron\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
transaksi=pd.read_csv(".\\csv_awal\\transaksi.csv",delimiter='|')
tambahan_transaksi=pd.read_csv(".\\csv_awal\\tambahan_transaksi.csv",delimiter='|')
transaksi=pd.merge(transaksi,tambahan_transaksi,left_on="fntranscid",right_on="Trans ID",how="left")
transaksi.drop('Trans ID',axis=1,inplace=True)
transaksi.to_sql('transaksi',engine,if_exists='replace')

In [2]:
judul=pd.read_csv(".\\csv_awal\\judul.csv",delimiter='|',encoding='utf-8')
judul.to_sql('judul',engine,if_exists='replace')

C:\Users\Aaron\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
transaksi=pd.read_csv(".\\csv_awal\\transaksi.csv",delimiter='|')
buku=pd.read_csv(".\\csv_awal\\buku.csv",delimiter='|')
usul=pd.read_csv(".\\csv_awal\\usul.csv",delimiter='|')
penerbit=pd.read_csv(".\\csv_awal\\penerbit.csv",delimiter='|')
judul=pd.read_csv(".\\csv_awal\\judul.csv",delimiter='|',encoding='utf-8')

C:\Users\Aaron\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
buku=pd.read_csv(".\\csv_awal\\buku.csv",delimiter='|')
tambahan_buku=pd.read_csv(".\\csv_awal\\tambahan_buku.csv",delimiter='|') # kondisi
buku=pd.merge(buku,tambahan_buku,on="k999a",how="left")
buku.to_sql('buku',engine,if_exists='replace')

In [3]:
buku.head(10)

,k999a,knokat,fnkd_lokasi,fckd_jnskol,fdtgl_input,status,tgl dtg
0,00001/02,73827,17.0,(T),2/7/2009 0:00,k,1/7/2002 0:00
1,00001/03,77432,18.0,(R),3/12/2005 0:00,b,12/20/2002 0:00
2,00001/04,80860,NaN,NaN,3/12/2005 0:00,b,1/5/2004 0:00
3,00001/05,7684,NaN,NaN,1/17/2013 0:00,h,1/3/1975 0:00
4,00001/06,2190920,20.0,(R),1/4/2006 0:00,b,1/3/2006 0:00
5,00001/07,2203200,16.0,NaN,1/3/2007 0:00,B,1/3/2007 0:00
6,00001/08,2213985,26.0,A,7/29/2009 0:00,B,12/3/2007 0:00
7,00001/09,2226020,16.0,NaN,1/6/2009 0:00,B,12/15/2008 0:00
8,00001/10,2251479,16.0,NaN,1/5/2010 0:00,B,12/22/2009 0:00
9,00001/11,2273881,18.0,L,1/3/2011 0:00,B,11/10/2010 0:00

In [5]:
buku.head(10)

,k999a,fdtgl_bayar,fdtgl_dtg,knokat,fnkd_lokasi,fckd_jnskol,fdtgl_input,status
0,00865/02,2002-02-27 00:00:00,2002-02-27 00:00:00,74394.0,17.0,(T),1/17/2009 0:00,k
1,00868/02,2002-02-27 00:00:00,2002-02-27 00:00:00,74395.0,17.0,(T),1/17/2009 0:00,k
2,00869/02,2002-02-27 00:00:00,2002-02-27 00:00:00,74395.0,17.0,(T),1/17/2009 0:00,k
3,03507/02,2002-08-20 00:00:00,2002-08-20 00:00:00,76148.0,NaN,(T),3/12/2005 0:00,k
4,03526/02,2002-08-21 00:00:00,2002-08-21 00:00:00,76165.0,NaN,(T),3/11/2013 0:00,k
5,03527/02,2002-08-21 00:00:00,2002-08-21 00:00:00,76165.0,NaN,(T),10/22/2005 0:00,k
6,03528/02,2002-08-21 00:00:00,2002-08-21 00:00:00,76166.0,NaN,(T),10/22/2005 0:00,k
7,03529/02,2002-08-21 00:00:00,2002-08-21 00:00:00,76166.0,NaN,(T),10/22/2005 0:00,k
8,03530/02,2002-08-21 00:00:00,2002-08-21 00:00:00,76167.0,NaN,(T),10/22/2005 0:00,k
9,03531/02,2002-08-21 00:00:00,2002-08-21 00:00:00,76167.0,NaN,(T),10/22/2005 0:00,k

In [4]:
#usul=pd.read_csv(".\\csv_awal\\usul.csv",delimiter='|')
#penerbit=pd.read_csv(".\\csv_awal\\penerbit.csv",delimiter='|')
penerbit_usulan=pd.DataFrame(usul['penerbit'].unique())
penerbit_asli=pd.DataFrame(penerbit['k260b'].unique())
penerbit_gabungan=pd.concat([penerbit_usulan,penerbit_asli])
penerbit_gabungan.columns=['k260b']
penerbit_gabungan=pd.DataFrame(penerbit_gabungan['k260b'].unique())
penerbit_gabungan.columns=['k260b']
penerbit_gabungan=pd.merge(penerbit_gabungan,penerbit,on='k260b',how='left')

In [5]:
#memberi id dummy pada penerbit yang tidak ada datanya
start_iter=int(penerbit_gabungan['fnkd_penerbit'].max())
print(start_iter)
def modify_iter(x):
    global start_iter
    try:
        dummy=int(x)
        return dummy
    except:
        dummy=start_iter+1
        start_iter += 1
        return dummy

penerbit_gabungan['fnkd_penerbit']=penerbit_gabungan['fnkd_penerbit'].apply(modify_iter)
#penerbit_gabungan.to_sql('penerbit',engine,if_exists='replace')

28048

In [6]:
usul_with_penerbit=pd.merge(usul,penerbit_gabungan,left_on='penerbit',right_on='k260b',how='left')
usul_with_penerbit.drop(['penerbit','k260b'],inplace=True,axis=1)
usul_with_penerbit.to_sql('usul',engine,if_exists='replace')

In [ ]:
#tidak dipakai

#transaksi=pd.read_csv(".\\csv_awal\\transaksi.csv",delimiter='|')
operator=pd.DataFrame(pd.Series(transaksi['fckd_operator']).unique()).dropna()
operator.columns=['fckd_operator']
#operator.to_sql('operator',engine,if_exists='replace')

In [ ]:
#tidak dipakai
jurusan=pd.read_csv('.\\csv_awal\\jurusan.csv',delimiter=',')
jurusan.to_sql('jurusan',engine,if_exists='replace')

In [62]:
def jurusan_dari_fckd_induk(data):
    global jurusan
    try:
        return int(data[:3])
    except(ValueError):
        return None

In [65]:
#tidak dipakai

#transaksi=pd.read_csv(".\\csv_awal\\transaksi.csv",delimiter='|')
#usul=pd.read_csv(".\\csv_awal\\usul.csv",delimiter='|')
anggota_from_transaksi=pd.DataFrame(pd.Series(transaksi['fckd_induk']).unique())
anggota_from_usul=pd.DataFrame(pd.Series(usul['fckd_induk']).unique())
anggota=pd.concat([anggota_from_transaksi,anggota_from_usul])
anggota.columns=['fckd_induk']
anggota=pd.DataFrame(anggota['fckd_induk'].unique())
anggota.columns=['fckd_induk']
anggota['kode_jurusan']=anggota['fckd_induk'].apply(lambda data:data[:3])
#anggota['kode_jurusan']=anggota['kode_jurusan'].apply(jurusan_dari_fckd_induk)
anggota.to_sql('anggota',engine,if_exists='replace')

In [ ]:
#di etl saja
kategori=pd.read_csv('.\\csv_awal\\kategori.csv',delimiter=',')
kategori.to_sql('kategori',engine,if_exists='replace')

In [213]:
cat_as_dict=kategori.to_dict()
def to_cat(word):#to select the right category
    if word:
        try:
            word=word[:3]
            word=int(float(word)/10)*10 #420.9->420
            return word
        except:
            return None
    else:
        return None
judul=pd.read_csv(".\\csv_awal\\judul.csv",delimiter='|',encoding='utf-8')
judul['kelompok_kategori']=judul['k099a'].apply(to_cat) #apa perlu di sini, atau waktu ETL aja?
judul.to_sql('judul',engine,if_exists='replace')#still error invalid UTF-8

In [ ]:
#srl_judul=pd.read_csv('.\\csv_awal\\srl_judul.csv',delimiter='|')
#srl_inventaris=pd.read_csv('.\\csv_awal\\srl_inventaris.csv',delimiter='|')
#srl_judul.to_sql('srl_judul',engine,if_exists='replace')
#srl_inventaris.to_sql('srl_inventaris',engine,if_exists='replace')